#btn-cart {
  position: absolute;
  right: 1em;
  top: 1em;
  border: none;
  outline: 0;
  border-radius: 5px;
  cursor: pointer;
  display: contents;
}

.aside-cart {
  overflow-y: scroll;
  width: 80%;
  max-width: 350px;
  height: 100%;
  padding: 1em;
  position: fixed;
  /* right: 0; */
  right: -80%; 
  top: 0;
  background-color: var(--white);
  transition: right 0.5s ease-in-out;
  z-index: 99999;
}

#cart {
  display: none;
}

#cart:checked+.aside-cart {
  right: 0;
}

/* top */
.aside-top {
  display: flex;
  justify-content: center;
  align-items: center;
}

.aside-top h4 {
  text-transform: uppercase;
  font-weight: 600;
  font-size: 1rem;
}

/* conteudo */
.aside-content {
  margin-top: 30px;
  display: flex;
}

.aside-content figure {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid var(--clr-input);
}

.aside-content img {
  width: 110px;
  height: 180px;
}

.cart-conteudo {
  margin-left: 10px;
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

.cart-conteudo p {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--clr-black);
}

.cart-conteudo .span_info {
  padding: 0;
  background-color: transparent;
  color: var(--clr-blue);
  display: flex;
  flex-wrap: wrap;
}

.cart-conteudo .span_result {
  padding: 0;
  background-color: transparent;
  color: var(--color-red);
}

.cart-conteudo input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

.cart-conteudo input[type=number] {
  -moz-appearance: textfield;
  appearance: textfield;
}

.qty {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.qty label {
  font-weight: 600;
  font-size: 1.2rem;
  color: var(--clr-black);
  flex: 1 0 100%;
}

.qty input {
  width: 2.5rem;
  height: 2.5rem;
 
  text-align: center;
  border: 1px solid #575757;
}

.qty button {
  width: 1.3rem;
  height: 1.3rem;
  color: #fff;

  background: #575757;
}

.qty button.qtyminus {
  margin-right: 0.3rem;
}

.qty button.qtyplus {
  margin-left: 0.3rem;
}

.select-wrapper {
  position: relative;
  display: flex;
  align-items: center;
  margin-bottom: 10px;
}

.select-wrapper::after {
  color: var(--clr-blue);
  content: "▾";
  margin-right: 10px;
  pointer-events: none;
  position: absolute;
  right: -5px;
  top: -5px;
  font-size: 30px;
}

.select {
  -moz-appearance: none;
  -webkit-appearance: none;
  background: var(--clr-input);
  border: none;
  border-radius: 0;
  cursor: pointer;
  width: 100%;
  font-size: 18px;
  margin-left: 5px;
}

.select:focus {
  color: black;
}

.select::-ms-expand {
  display: none;
}

a.animated-button.finish_cart {
  margin: 0;
  color: var(--white);
  text-align: center;
  text-transform: uppercase;
  font-weight: 600;
  cursor: pointer;
  padding: 5px;
  display: block;
  position: relative;
  background: var(--clr-blue);
  border: 1px solid var(--clr-blue);
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
}

a.animated-button.finish_cart:hover {
  color: var(--clr-blue) !important;
  background-color: transparent;
  text-shadow: nthree;
}

a.animated-button.finish_cart:hover:before {
  left: 0%;
  right: auto;
  width: 100%;
}

a.animated-button.finish_cart:before {
  display: block;
  position: absolute;
  top: 0px;
  right: 0px;
  height: 100%;
  width: 0px;
  z-index: -1;
  content: '';
  transition: all 0.4s cubic-bezier(0.42, 0, 0.58, 1);
  border: 2px solid var(--clr-blue);
}

.box_btn-cart {
  position: absolute;
  bottom: 0;
  margin-bottom: 15px;
  width: 90%;
}